---
import { Image } from "astro:assets";
---

<section class="section">
  <div class="container mx-auto rounded-xl shadow">
    <div class="text-center">
      <!-- <h2 class="text-center">Client Testimonials:</h2> -->
      <div class="flex justify-center space-x-4 my-4">
        <a
          class="btn"
          href="https://homestars.com/companies/3013794-omnireno-inc"
        >
          <Image
            src="/images/homestars.png"
            alt="call to action"
            loading="lazy"
            width={200}
            height={120}
          />
        </a>
        <a
          class="btn"
          href="https://www.yelp.com/biz/omnireno-toronto?osq=omni+reno"
        >
          <Image
            src="/images/yelp.jpg"
            alt="call to action"
            loading="lazy"
            width={200}
            height={120}
          />
        </a>
        <a
          class="btn"
          href="https://www.yelp.com/biz/omnireno-toronto?osq=omni+reno"
        >
          <Image
            src="/images/google.jpg"
            alt="call to action"
            loading="lazy"
             width={200}
            height={120}
          />
        </a>
      </div>
    </div>
  </div>
</section>
